.root {
	margin-top: 20px;
	margin-left: 0px;
	padding-left: 0;
	width: auto;
	height: auto;
  }

.paper {
	margin-left: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	padding: 8px;
  	color: rgb(0, 0, 0) !important;
	text-align: left;
	min-width: 235px;
	width: 235px;
}

.info {
	display: inline-block;
	width: 233px;
	font-size: small;
	margin: 0px;
	padding-bottom: 15px ;
	padding-top: 15px;
	text-align: center;
	border-bottom: 1px solid black;
}

.image {
	display: inline-block;
	width: 225px;
	height: 310px;
	margin: 0px;
	padding: 0px;
} 

.titulo {
	color: rgb(255, 94, 0);
	margin: 0;
	font-family: sans-serif, Tahoma, Verdana ;
}

.negrita {
	font-weight: bold;
}